@mixin border-radius($rad) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    border-radius: $rad;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow:    $shadow;
    box-shadow:         $shadow;
}

@mixin gradient-top-down($color1, $color2){
    background: $color1;
    background: -moz-linear-gradient(top, $color1 0%, $color1 72%, $color2 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(72%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0%, $color1 72%, $color2 100%);
    background: -o-linear-gradient(top, $color1 0%, $color1 72%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0%, $color1 72%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color1 72%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}', GradientType=0 );
}

@mixin btn-outline($bright, $dark){
    border: 1px solid $dark;
    color: $dark;
    background: $bright
}